<h1>New My Comment</h1>

<p> 
<%= form_for @my_comment, url: my_thread_my_comments_path do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
</p>

<%= link_to 'Back', my_thread_path(@my_comment.my_thread_id) %>
